.topright {
	top: 15px;
	right: 16px;
	font-size: 20px;
}

.topright a {
	text-decoration: none;
	color: white;
}

.container {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.account-details {
	width: 700px;
	height: 400px;
	display: flex;
	background-color: #1d267d;
	border-radius: 50px;
}

.account-profile {
	position: relative;
	width: 350px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-profile {
	position: relative;
}

#chooseFile {
	background-color: white;
	color: black;
	margin-bottom: 5px;
	margin-top: 5px;
}

#profile-image1 {
	height: 250px;
	width: 200px;
}

#upload-button {
	background-color: orange;
	border-radius: 5px;
}

#chooseFile::-webkit-file-upload-button {
	background-color: orange;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; /* Set the desired background color */
}

.account-info {
	margin-left: 350px;
	margin-top: -400px;
	position: relative;
	width: 350px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#info-lable {
	font-size: 22px;
	margin-left: -150px;
}

.info_input {
	width: 250px;
	height: 30px;
	border-radius: 5px;
	border-spacing: 0px;
	border-width: 1px solid black;
}

#update_button {
	font-size: 18px;
	border-radius: 5px;
	color: black;
	background-color: orange;
}

#update_password {
	color: white;
	font-size: 18px;
}
